.itemDetailContainer{
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ItemDetail{
    display: flex;
    margin: 2rem;
}
.ItemDetail img{
    width: 26rem;
}
.ItemDetail div{
    padding: .5rem;
}